<ion-header translucent="true">
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Edit Movie</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content color="dark" class="ion-padding">

  <!-- Poster Preview -->
  <div class="poster-preview" *ngIf="movie.poster">
    <img [src]="movie.poster" alt="Poster" />
  </div>

  <!-- Movie Form -->
  <ion-list lines="none" style="background-color: transparent ;">
    <ion-item>
      <ion-label position="floating">Title</ion-label>
      <ion-input [(ngModel)]="movie.title"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Genre</ion-label>
      <ion-input [(ngModel)]="movie.genre"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Release Date</ion-label>
      <ion-datetime display-format="YYYY-MM-DD" [(ngModel)]="movie.releaseDate"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Poster URL</ion-label>
      <ion-input [(ngModel)]="movie.poster"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Director</ion-label>
      <ion-input [(ngModel)]="movie.director"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Synopsis</ion-label>
      <ion-textarea [(ngModel)]="movie.synopsis" autoGrow="true"></ion-textarea>
    </ion-item>
  </ion-list>

  <ion-button expand="block" color="warning" (click)="updateMovie()">
    <ion-icon name="save-outline" slot="start"></ion-icon>
    Update Movie
  </ion-button>
</ion-content>
