<ion-header translucent="true">
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="auth-content" fullscreen>
  <div class="auth-wrapper">
    <h2 class="auth-title">Login</h2>
    <p class="auth-subtitle">Please sign in to continue.</p>

    <!-- Input Email -->
    <ion-item lines="none" class="auth-input">
      <ion-icon slot="start" name="mail-outline"></ion-icon>
      <ion-input
        type="email"
        placeholder="Email"
        [(ngModel)]="email"
        required
      ></ion-input>
    </ion-item>

    <!-- Input Password -->
    <ion-item lines="none" class="auth-input">
      <ion-icon slot="start" name="lock-closed-outline"></ion-icon>
      <ion-input
        type="password"
        placeholder="Password"
        [(ngModel)]="password"
        required
      ></ion-input>
    </ion-item>

    <!-- Tombol Login -->
    <ion-button expand="block" class="auth-button" (click)="login()">
      LOGIN
    </ion-button>

    <a class="auth-link" routerLink="/forgot-password">Forgot Password?</a>

    <p class="auth-footer">
      Don't have an account? <a routerLink="/register">Sign up</a>
    </p>
  </div>
</ion-content>
