<ion-header translucent="true">
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>MOVIEW</ion-title>
    <ion-buttons slot="end">
      <ion-button *ngIf="!isLoggedIn" routerLink="/login" fill="clear" color="light">Login</ion-button>
      <ion-label *ngIf="isLoggedIn" color="light" class="username-label">{{ username }}</ion-label>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content color="dark" class="ion-padding">
  <h2 class="section-title">🎬 10 Movie Terbaru</h2>

  <ion-grid>
    <ion-row>
      <ion-col size="6" size-md="4" size-lg="3" class="movie-col" *ngFor="let movie of getLatestMovies()"> 
        <ion-card routerLink="/movie/{{ movie.id }}" class="movie-card">
          <ion-img [src]="movie.poster"></ion-img>
          <ion-card-content>
            <h3 class="movie-title">{{ movie.title }}</h3>
            <p class="movie-meta">{{ movie.genre }} | {{ movie.releaseDate }}</p>
            <div class="rating">
              <ion-icon name="star" color="warning"></ion-icon> {{ movie.rating }} / 5
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
